body{
    margin: 0px;
    padding: 0px 0;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Helvica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #fdcf58;
}

body.agitado{
    background-color: #800909;
}